body {
    background-color: darkgreen;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex-basis: 10%;
}

.img-header{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.heading {
    font-size: 36px;
    color: white;
}

.container{
    background-image: url("https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F505490%2Fgetty-stock-market-data.jpg&w=1200&op=resize");
    padding: 20px;
    height: 720px;
}

.heading-text{
    color: white;
    text-align: center;
    font-size: 26px;
}

.reddit-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reddit-ol {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticker-list {
    display: flex;
    flex-wrap: wrap;
}

.reddit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#submitBtn,
#redditBtn{
    background-color: darkgreen;
    box-shadow: 5px 5px rgb(4, 68, 4);
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#submitBtn:hover,
#redditBtn:hover {
    background-color: rgb(1, 53, 1);
    box-shadow: darkseagreen;
}

.input {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.li {
    margin: 15px 15px;
    padding: 5px;
}

.quandl-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.quandl-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.hide {
    display: none;
}

.quandl-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen (max-width: 980px) {
   
}

@media screen (max-width: 768px) {
   
}

@media screen (max-width: 575px) {
    
    
}
