body {
    margin: 0;
    background-color:darkgreen;
}

.hero-img {
    background-image: url("https://www.nasdaq.com/sites/acquia.prod/files/image/29525db076bcc42505a356e55dbe94f38b28530b_getty-stock-market-data.jpg?1372565570");
    height: 50vh;
    width: 100vw;
}

.hero-text{
    color: white;
    font-size: 3.5rem;
    text-align: right;
    padding-top: 200px;
    padding-right: 250px;
}

.instructions{
    font-size: 26px;
    text-align: center;
}

.container{
    background-color:rgb(1, 53, 1);
    color: white;
    padding: 20px;
    height: 720px;
}
.reddit-tile{
    padding: 30px;
}

.quandl-tile{
    padding: 30px;
}

.title {
    justify-content: center;
    align-items: center;
    display: flex;
}

.ticker-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#submitBtn,
#redditBtn{
    background-color: darkgreen;
    box-shadow: 5px 5px rgb(4, 68, 4);
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#submitBtn:hover,
#redditBtn:hover {
    background-color: rgb(1, 53, 1);
    box-shadow: darkseagreen;
}

.input {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.li {
    padding: 10px;
    width: 100px;
    float: left;
}

/*@media screen (max-width: 1200px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }
    .container {
        width: 100%;
        text-align: center;
    }
}

@media screen (max-width: 576px) {
    .btn {
        width: 25%;
    }
    
}
